.footer {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, 0.87);
  padding: 16px 32px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blur(8px);
}

.footer h4,
.footer h5 {
  margin: 0;
  display: flex;
  align-items: center;
}



.Btn2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
 background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.Btn2:hover {
  background-color: #bc2a8d;
  transform: scale(1.1);
}
.texto{
  font-size: 15px;
  height: 35px;
}

.svgIcon2 {
  width: 40px;
  height: 40px;
  fill: white;
}


